alias c='cal -A 2'

export ORG_DIR='~/nas/drive/org'
alias org='cd $ORG_DIR'
alias sorg='~/.spacemacs $ORG_DIR'

alias s='~/.spacemacs $PWD'

alias smc='~/.spacemacs_mc $PWD'

alias orgtutor='mkdir -p /tmp/orgtutor && cp .orgtutor.org /tmp/orgtutor/tutor.org && ~/.spacemacs /tmp/orgtutor/'

#list open tasks for the different contexts
alias tp='t ls @psc'
alias th='t ls @home'
alias tr='t ls @rfk'

alias note='~/.task_open_note'
